/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font-weight
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- line-height:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- letter spacing
-0.5px 
0.75px

--- 02 COLORS
- Primary: #e67e22
- Tints: 
#fdf2e9
#fae5d3
- Shades: #cf711f
- Accents:
- Greys: 
#555
#333

--- 05 SHADOWS

--- 06 BORDER_RADIUS
Defualt: 9px;
Medium: 11px;
--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5*/
  /* Percentage of user's browsers font-size settings */
  font-size: 62.5%;
}

body {
  font-family: Rubik, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/***********************/
/* GENERAL REUSABLE COMPONENTS */
/***********************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
}

.heading-secondary {
  margin-bottom: 9.6rem;
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  margin-bottom: 3rem;
  font-size: 3.6rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #cf711f;
}

.button:link,
.button:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;

  /* add hover animation (always put the transition on the original state) */
  transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-visited {
  color: #555;
  background-color: #fff;
}

.btn-outline:hover,
.btn-outline:active {
  /* border: 3px solid #fff; - the elements are moving with this border */
  /* Trick to add border inside so the elements don't move */
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #fdf2e9;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}
