/***********************/
/* HEADER */
/***********************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem; /*задава се фиксирана височина, защото така е по-лесно да се работи, когато header е sticy*/
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem; /*for images is a bit easy to work with height only*/
}

/***********************/
/* NAVIGATION */
/***********************/
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style-type: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block; /*По-рано беше стандартна практика да се слага display: inline-block на a елементи, за да работи padding коректно. Днес обаче display трябва да се избира според контекста (flex, block, inline-flex).*/
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/***********************/
/* HERO SECTION */
/***********************/
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  margin-right: -1.6rem;
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
}

.delivered-images img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  font-weight: 700;
  color: #cf711f;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

/***********************/
/* FEATURED IN SECTION */
/***********************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  filter: brightness(0);
  opacity: 50%;
}

.logos img {
  height: 3.2rem;
}
/***********************/
/* HOW IT WORKS SECTION */
/***********************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  margin-bottom: 1.2rem;
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  /* в лекцията казват да използвам и тези пропартира, за да центрирам елементите, обаче те са центрирани вече от това, че контейнерът им е flex с центрирани елементи */
  /* top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) */
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%; /*60% of parent's with - това е трик, който добавя височина 60% на елемента, защото height: 60% не работи в този случай*/
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/***********************/
/* MEAL SECTION */
/***********************/
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.section-meals {
  padding: 9.6rem 0;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.meal-attribut {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/***********************/
/* TESTIMONIAL SECTION */
/***********************/
.section-testimonials {
  padding: 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.testimonial-img {
  margin-bottom: 1.2rem;
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}
