/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font-weight
Default: 400

- line-height:
Default: 1

--- 02 COLORS
- Primary: #e67e22
- Tints: #fdf2e9
- Shades: #cf711f
- Accents:
- Greys: 
#555
#333

--- 05 SHADOWS

--- 06 BORDER_RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5*/
  /* Percentage of user's browsers font-size settings */
  font-size: 62.5%;
}

body {
  font-family: Rubik, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/***********************/
/* GENERAL REUSABLE COMPONENTS */
/***********************/
.heading-primary {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #333;
}

.button:link,
.button:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;

  /* add hover animation (always put the transition on the original state) */
  transition: background-color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-visited {
  color: #555;
  background-color: #fff;
}

.btn-outline:hover,
.btn-outline:active {
  /* border: 3px solid #fff; - the elements are moving with this border */
  /* Trick to add border inside so the elements don't move */
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #fdf2e9;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
/***********************/
/* HEADER */
/***********************/

/***********************/
/* HERO SECTION */
/***********************/
.section-hero {
  padding: 9.6rem 0;
  background-color: #fdf2e9;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  margin-right: -1.6rem;
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
}

.delivered-images img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  font-weight: 700;
  color: #cf711f;
}

.hero-image {
  max-width: 100%;
  height: auto;
}
